<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MemeMoodTracker WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MemeMoodTracker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>954572861C12E09E0099ED1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9545729A1C12E09F0099ED1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>954572A51C12E09F0099ED1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>954572AE1C12E09F0099ED1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
